/*=== PageNavi. ===*/
.wp-pagenavi { padding:25px 0; clear: both; font-size: 12px; margin: 0 auto; text-align: right; color: #292929; }
.wp-pagenavi a,
.wp-pagenavi .current { background:#fff; border-right:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; color: #000; margin:0 3px; padding:5px 7px; }
.wp-pagenavi a:hover,
.wp-pagenavi .current { background: #3f3f3f; margin:0 3px; color: #fff; }
.wp-pagenavi .pages { color:#292929; padding:0; float:left; }
