




.round { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* manage your services */
#services_manage {}

.service_in_use { background-color: #dddddd; height: 64px; width: 300px; margin-bottom: 10px; padding: 5px; }
.service_img { float: left; }
.service_userdata { font-size: 12px; line-height: 1.1em; margin-left: 80px; padding-top: 6px;}
.service_userdata span { color: #c81419; }

#services_available { clear: both; margin-top: 40px; }

/* the list with the available services that consist of icons and text */
#services_list { margin: 20px 0; padding: 0; list-style: none; }
#services_list li { display: inline; float: left; margin-right: 25px; margin-bottom: 20px; width: 100px; text-align: center; }
#services_list img { display: block; margin-left: auto; margin-right: auto; }
